.CommentListItem {
    overflow-wrap: break-word;
    border: 2pt solid teal;
    box-shadow: 0 4px 8px 0 cadetblue;
    transition: 0.3s;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.CommentContent {
    font-size: smaller;
    padding-top: 8pt;
    padding-bottom: 8pt;
    overflow-wrap: break-word;
}

.CommentAuthor, .CommentReplies {
    font-size: x-small;
    font-weight: lighter;
}



