

.ArticleListItem {
    border: 2pt solid #09d3ac;
    box-shadow: 0 4px 8px 0 cadetblue;
    transition: 0.3s;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.ArticleListItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ArticleListItemContent {
    font-size: smaller;
    padding-top: 8pt;
    padding-bottom: 8pt;
    overflow-wrap: break-word;
}

.ArticleListItemTitle {
    font-size: large;
    font-weight: bold;
}

.ArticleListItemAuthor {
    font-size: x-small;
    font-weight: lighter;
}

.ArticleListItemButton {
    display: inline-block !important;
    width: auto !important;
    margin-right: 8pt;
}

.ArticleListItemButtonContainer {
    width: 100%;
    text-align: left;
}
