.Home {
    border-radius: 5px;
    background-color: lightslategray;
    align-content: center;
    width: 50%;
    text-align: left;
    display: block;
    margin: 10% auto auto auto;
    padding: 20pt;
}

.LogoutButtonContainer {
    text-align: right;
}

.LogoutButton {
    font-size: larger;
}

.LogoutButton:hover {
    color: dodgerblue;
}
